<form action="/customer/<%=@customer.id%>" method="POST">

<label for="name">Customer Name</label>
<input type="text" id="customer_name" name ="name" value="<%=@customer.name%>">

<input type="submit" value="Change Name">
</form>